In [1]:
import pandas as pd 
import seaborn as sns
from glob import glob
import numpy as np

In [5]:
# file_path = './eval_result_reason-v3-fixedprompt-match'
# file_path = './eval_result_reason-v3-fixedprompt-match-2'
# file_path = './eval_result_reason-v3-fixedprompt-match-3'

# file_path = './eval_result_reason-v3-fixedprompt-json'
# file_path = './eval_result_reason-v3-fixedprompt-json-'

folder_name = './eval_result_api_reason_v3_all_2e'
result_list = glob(folder_name + '/*.csv')
result_list.sort()

print(result_list)

gptscore_result = []#{'Humanness':[], 'Engagingness':[], 'Memorability':[], 'Specificity':[]}
for result in result_list:
    value = result.replace('.csv', '').split('+')
    # print(value)
    model_name = '_'.join(value[:-1]).split('/')[-1]
    print(model_name)
    cross_domain = value[-1]
    
    df = pd.read_csv(result)
    # print(df[df['eval_indicator']=='Engagingness'])
    
    Humanness = df[df['eval_indicator']=='Humanness']['rating'].mean()
    Engagingness = df[df['eval_indicator']=='Engagingness']['rating'].mean()
    Memorability = df[df['eval_indicator']=='Memorability']['rating'].mean()
    Specificity = df[df['eval_indicator']=='Specificity']['rating'].mean()
    Avg = df['rating'].mean()
    
    gptscore_result.append({'model':model_name, 'cross_domain':cross_domain, 
                            'Humanness':round(Humanness,2),'Engagingness':round(Engagingness,2),
                            'Memorability':round(Memorability,2),'Specificity':round(Specificity,2),
                            'Avg':round(Avg,2)})


score_df = pd.DataFrame(gptscore_result)
score_df = score_df.sort_values(by=['cross_domain', 'model'], ignore_index=True)
score_df.to_csv(f'{folder_name}_gpts.csv')

score_df

['./eval_result_api_reason_v3_all_2e/llama-13b_MS_DG+MS_DG.csv', './eval_result_api_reason_v3_all_2e/llama-13b_MS_DG+MT_DG.csv', './eval_result_api_reason_v3_all_2e/llama-33b_MS_DG+MS_DG.csv', './eval_result_api_reason_v3_all_2e/llama-33b_MS_DG+MT_DG.csv', './eval_result_api_reason_v3_all_2e/llama-7b_MS_DG+MS_DG.csv', './eval_result_api_reason_v3_all_2e/llama-7b_MS_DG+MT_DG.csv']
llama-13b_MS_DG
llama-13b_MS_DG
llama-33b_MS_DG
llama-33b_MS_DG
llama-7b_MS_DG
llama-7b_MS_DG

,model,cross_domain,Humanness,Engagingness,Memorability,Specificity,Avg
0,llama-13b_MS_DG,MS_DG,6.40,5.95,5.20,6.25,5.95
1,llama-33b_MS_DG,MS_DG,6.70,5.65,6.50,5.75,6.15
2,llama-7b_MS_DG,MS_DG,6.00,5.50,4.30,5.20,5.25
3,llama-13b_MS_DG,MT_DG,7.40,6.25,6.85,6.05,6.64
4,llama-33b_MS_DG,MT_DG,7.25,6.65,7.20,6.80,6.98
5,llama-7b_MS_DG,MT_DG,6.70,6.05,5.80,5.40,5.99

In [3]:
# 	model	cross_domain	Humanness	Engagingness	Memorability	Specificity	Avg
# 0	llama-13b_MS_DG	MS_DG	7.29	5.29	6.94	3.17	5.64
# 1	llama-7b_MS_DG	MS_DG	6.40	6.00	5.50	4.62	5.55
# 2	llama-13b_MS_DG	MT_DG	5.56	4.06	4.78	5.44	4.96
# 3	llama-7b_MS_DG	MT_DG	5.80	6.11	6.29	3.29	5.39

In [4]:
score_df['GPTScore'].tolist()

KeyError: 'GPTScore'

In [ ]:
# data = [[6.43, 6.0, 6.89, 5.33, 7.0, 6.08, 6.73, 5.58],
#         [6.55, 6.33, 7.38, 5.09, 6.67, 6.08, 6.8, 6.06],
#         [8.38, 5.86, 7.5, 6.44, 6.92, 6.07, 7.0, 6.14]
# ]
data = [[6.45, 6.55, 6.55, 6.45, 5.89, 5.35, 6.37, 5.0],
        [6.79, 6.15, 7.15, 6.55, 6.37, 5.35, 6.3, 5.26],
        [6.9, 6.55, 7.35, 6.0, 6.05, 5.0, 6.15, 5.1]
]
data = np.array(data).transpose()
data

array([[6.45, 6.79, 6.9 ],
       [6.55, 6.15, 6.55],
       [6.55, 7.15, 7.35],
       [6.45, 6.55, 6.  ],
       [5.89, 6.37, 6.05],
       [5.35, 5.35, 5.  ],
       [6.37, 6.3 , 6.15],
       [5.  , 5.26, 5.1 ]])

In [ ]:
import scipy.stats

def anova_test(*groups):
    f_statistic, p_value = scipy.stats.f_oneway(*groups)
    
    return p_value

# 예시 데이터 (세 개의 그룹)
group1 = [25, 30, 35, 40, 45]
group2 = [20, 28, 32, 38, 42]
group3 = [15, 25, 30, 35, 40]

# ANOVA 검정
# result_pvalue = anova_test(group1, group2, group3)
result_pvalue = anova_test(data[0], data[1])

print("P-value:", result_pvalue)

# p-value가 0.05 이하인 경우, 적어도 하나의 그룹 간에는 통계적으로 유의미한 차이가 있다고 간주할 수 있습니다.
if result_pvalue < 0.05:
    print("적어도 하나의 그룹 간에는 통계적으로 유의미한 차이가 있습니다.")
else:
    print("그룹 간에는 통계적으로 유의미한 차이가 없습니다.")

P-value: 0.193563616824515
그룹 간에는 통계적으로 유의미한 차이가 없습니다.

In [ ]:
df= pd.read_csv('/home/uj-user/Yo/hybrid-ltm/data/eval_result/llama-7b+BS.csv')
df

   cross           Model   ROUGE  BertScore
0  MS_DG  llama-7b_MT_DG  0.2988     0.6806
1  MS_DG    llama-7b_MT2  0.3140     0.6886
2  MS_DG  llama-7b_MS_DG  0.3133     0.6929
3  MS_DG    llama-7b_MS2  0.3143     0.6837
4  MT_DG  llama-7b_MT_DG  0.3205     0.6946
5  MT_DG    llama-7b_MT2  0.3577     0.7073
6  MT_DG  llama-7b_MS_DG  0.3105     0.6887
7  MT_DG    llama-7b_MS2  0.3150     0.6785

In [ ]:
df1 = pd.read_csv('/home/uj-user/Yo/hybrid-ltm/data/eval_result/llama-7b+MT_DG_BS_bak.csv')
df2 = pd.read_csv('/home/uj-user/Yo/hybrid-ltm/data/eval_result/llama-7b+MT_DG_BS.csv')
df1 = df1.drop(columns=['Model'])
df2 = df2.drop(columns=['Model'])
df2

    ROUGE  BertScore
0  0.3205     0.6946
1  0.3577     0.7073
2  0.3105     0.6887
3  0.3150     0.6785

In [ ]:
import pandas as pd
from scipy.stats import ttest_ind

# 예제 데이터프레임 생성
# data1 = {'A': [6.43, 6.0, 6.89, 5.33, 7.0, 6.08, 6.73, 5.58]}
# data1 = {'A': [6.54, 6.32, 7.35, 5.08, 6.68, 6.08, 6.8, 6.06]}

# data2 = {'A': [6.55, 6.33, 7.38, 5.09, 6.67, 6.08, 6.8, 6.06]}

# df1 = pd.DataFrame(data1)
# df2 = pd.DataFrame(data2)

# 열마다 t-검정 수행
for column in df1.columns:
    t_statistic, p_value = ttest_ind(df1[column], df2[column])
    print(f'Test for column {column}:')
    print(f'T-statistic: {t_statistic}')
    print(f'P-value: {p_value}')

    # P-value가 유의수준(예: 0.05)보다 작으면 귀무가설 기각
    if p_value < 0.05:
        print(f'Reject the null hypothesis for column {column}: There is a significant difference.')
    else:
        print(f'Fail to reject the null hypothesis for column {column}: There is no significant difference.')

    print('\n')

Test for column ROUGE:
T-statistic: -0.6751512587223705
P-value: 0.5186131635861952
Fail to reject the null hypothesis for column ROUGE: There is no significant difference.


Test for column BertScore:
T-statistic: -0.7241738477785662
P-value: 0.4895922212199193
Fail to reject the null hypothesis for column BertScore: There is no significant difference.